.home-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .home-title{
      font-size: 50px;
      font-weight: 900;
    }
    .home-para{
      font-size: 40px;
      font-weight: 500;
    }
    .home-span{
      font-size: 30px;
      font-weight: 500;
    }
}