.cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 60px;
    right: 40px;
    z-index: 5;
  
    // .empty-message {
    //   font-size: 18px;
    //   margin: 50px auto;
    // }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      ::-webkit-scrollbar{
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  
    .base-button {
      min-width: 165px;
      width: auto;
      height: 50px;
      letter-spacing: 0.5px;
      line-height: 50px;
      padding: 0 35px 0 35px;
      margin-top: auto;
      font-size: 10px;
      background-color: white;
      color: black;
      text-transform: uppercase;
      font-weight: bolder;
      border: 1px solid black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
  