.product-item-container{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    .product-item-img{
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }
    .product-item-footer{
        display: flex;
        justify-content: space-between;
        .item-name{

        }
        .item-price{

        }
    }
}