.product-item-container{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    .product-item-img{
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        @media only screen and (max-width: 1024px) {
          width: 211.75px;
          height: 197.25px;
        }
    }
    .product-item-footer{
        display: flex;
        justify-content: space-between;
        .item-name{
          @media only screen and (max-width: 1024px) {
            font-size: 20px;
          }
        }
        .item-price{

        }
    }
    .base-button {
        min-width: 165px;
        width: auto;
        height: 50px;
        letter-spacing: 0.5px;
        line-height: 50px;
        padding: 0 35px 0 35px;
        font-size: 15px;
        background-color: white;
        color: black;
        text-transform: uppercase;
        font-weight: bolder;
        border: 1px solid black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: black;
          color: white;
          border: none;
        }
        @media only screen and (max-width: 1024px){
          font-size: 12px;
        }
      }
      
}