.product-category-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @media only screen and (max-width: 1200px){
        padding: 0px 50px;
    }
    @media only screen and (max-width: 768px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 600px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 402px){
        grid-template-columns: repeat(1, 1fr);
    }
    .product-category-card-item{
        max-width: 350px;
        display: flex;
        flex-direction: column;
        .card-item-image{
            margin-bottom: 20px;
            width: 100%;
            height: 100%;
            @media only screen and (max-width: 992px){
                width: 196.25px;
                height: 168.2px;
            }
        }
        .card-item-footer{
            display: flex;
            justify-content: space-between;
            .card-item-name{
                @media only screen and (max-width: 992px){
                    font-size: 20px;
                }
            }
            .card-item-price{
    
            }
        }
    }
    .base-button {
        min-width: 165px;
        width: auto;
        height: 50px;
        letter-spacing: 0.5px;
        line-height: 50px;
        padding: 0 35px 0 35px;
        font-size: 15px;
        background-color: white;
        color: black;
        text-transform: uppercase;
        font-weight: bolder;
        border: 1px solid black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 992px){
            font-size: 12px;
        }
        &:hover {
          background-color: black;
          color: white;
          border: none;
        }
      }
}