.product-item-preview-container{
    text-align: center;
    max-width: 100%;
    padding: 20px 50px;
    margin-bottom: 20px;
    h2{
        margin-bottom: 20px;
    }
    .products-item-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        @media only screen and (max-width: 768px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: 428px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
}